body {
  font-family: sans-serif;
  background-color: lightblue;
}

.columns {
  padding: 20px;
  border: 2px solid darkblue;
  margin: 10px;
}

.bio {
  font-style: normal;
  font-weight: bold;
}

.columns h1 {
  text-align: center;
}

.columns h2 {
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

.columns p {
  font-family: verdana;
  font-style: italic;
}

.c1 {
  background-color: #ffcc99;
}

.c2 {
  background-color: #99ffcc;
}

.c3 {
  background-color: #f2e6ff;
}


.title {
  font-family: fantasy;
  text-align: center;
  color:darkblue;
}

h1.title {
  font-size: 48px;
}

@media screen and (min-width:1126px) {
  .columns {
      float: left;
      width: 300px;
    }
}

@media screen and (max-width: 1125px) and (min-width: 481px) {
  body{
    background-color: lightgrey;
    margin: 60px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px){
  body{
    background-color: lightgreen;
  }
}
